*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#div1
{
   
    min-height: 600px;
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #c67979;
    width: 100%;
}

#toolbar {
    
    padding-top: 100px;
    width: 40%;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-left: 200px;
    font-weight: bold;
    width: 50;
   
}

#grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
    margin-left: 90px;
    gap: 2px;
    
}


.grid-cell {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}

.grid-cell input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: inherit;
    font-size: inherit;
    background-color: white;
}

#pagination {
    margin-top: 20px;
}
#search{

    border-radius:8px;
    margin-bottom: 20px;
    height:30px;
    width:40%;
    outline: none;
    margin-left: 23px;
}
#fontSize{

    border-radius:8px;
    margin-bottom: 20px;
    height:30px;
    width:40%;
    margin-left: 5px;
}
#textAlign{
    border-radius: 8px;
    margin-bottom: 50px;
    height:30px;
    width:40%;
}
#undo{
    color:white;
    background-color: rgb(89, 0, 255);
    border-radius: 12px;
    margin-bottom: 20px;
    width:30%;
    height:30px;
    
}
#redo{
    color:white;
    background-color: rgb(89, 0, 255);
    border-radius: 12px;
    width:30%;
    height:30px;
    margin-left:20px;
}